<h1>Welcome to Finance-Tracker App</h1>

<h2>Here we can search stocks and track them!!!</h2>

<br><h3> What is Stock Market ?
<p><br>
A stock market, equity market, or share market is the aggregation of buyers and sellers of stocks (also called shares), which represent ownership claims on businesses; these may include securities listed on a public stock exchange, as well as stock that is only traded privately, such as shares of private companies which are sold to investors through equity crowdfunding platforms. Investment is usually made with an investment strategy in mind.
</p>
</h3>

 <%= image_tag "download (1).jpeg", height: 140 %>
 <%= image_tag "download.jpeg", height: 140 %>
 <%= image_tag "download (2).jpeg", height: 140 %>
 <%= image_tag "images.jpeg", height: 140 %>
 <%= image_tag "images (1).jpeg", height: 140 %>



